* {
    margin: 0%;
    overflow-x: hidden;
}
.nav {
    padding: 2%;
    background-color: rgba(234, 234, 234, 0.843);
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0;
    
}
.top_buttons button {
    font-size: larger;
    background-color: transparent;
    padding: 15px;
    border: transparent;
    border-radius: 20px;
}
.top_buttons button:hover {
  color: aqua;
}
.Chicken_Card {
  margin: 10px;
  display: block;
  padding: 10px;
  border: 5px solid;
  display: inline-block;
  background-color: transparent;
}
.card_pic {
  height: 100px;
}
.Turkey_Card {
  margin: 10px;
  display: block;
  padding: 10px;
  border: 5px solid;
  display: inline-block;
  background-color: transparent;
}

.Pig_Card {
  margin: 10px;
  display: block;
  padding: 10px;
  border: 5px solid;
  display: inline-block;
  background-color: transparent;
}

.moneyss p {
  font-size: large;
  display: inline;
}
.Owneds_Card {
  
  display: flex;
  padding-left: 40px;
}
